*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 10px;
}
.submitButton{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}
.gestionProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.cupon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    border: 1px solid #ccc;
    margin: 10px;
}
.codigo{
    font-weight: bold;
}
.descuento{
    font-weight: bold;
}